.fullscreen{
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.justify-center {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.items-align-center {
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.55rem 0.75rem;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.heading-text {
    color:lightgray;
    font-size: 5rem;
}